#autoComplete_wrapper {
  position: relative;
  display: inline-block;
}

#autoComplete {
  padding: 0 2rem 0 3.5rem;
  height: 40px;
  /* width: 16.5rem; */
  font-size: 1.2rem;
  outline: none;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
  text-overflow: ellipsis;
  position: relative;
  border: 0px !important;
  background: #f1f3f4;
}

label[for='autoComplete']{
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../images/magnifier.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
  transform: scale(0.95) translate(10px,-50%);
  transition: all 0.3s ease;
  transform-origin: top;

}

#autoComplete::placeholder {
  color: #7c7f84;
  transition: all 0.3s ease;
}

#autoComplete:hover::placeholder {
  color: #7c7f8485;
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:focus::placeholder {
  padding: 0.1rem 0.6rem;
  font-size: 1rem;
  color: #7c7f84;
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete::selection {
  color: transparent;
}

#autoComplete:focus::selection {
  color: #fff;
}

#autoComplete:focus ~ label[for='autoComplete']{
  transform: scale(0.7) translate(10px,-50%);
}

#autoComplete:focus {
  padding: 0 2rem 0 3.5rem;
  color: rgba(255, 122, 122, 1);
  /* width: 16.5rem; */
  border: 0.05rem solid rgb(255, 122, 122);
  background-position: left 1.05rem top 0.8rem;
  background: #fff;
  box-shadow: 0px 1px 1px 0 rgba(65, 69, 73, 0.3), 0px 1px 3px 1px rgba(65, 69, 73, 0.15)
}

#autoComplete_list {
  position: absolute;
  z-index: 1000;
  padding: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all -webkit-transform 0.1s ease;
  margin-top: -5px;
  box-shadow: 0px 1px 1px 0 rgba(65, 69, 73, 0.3), 0px 1px 0px 1px rgba(65, 69, 73, 0.15);
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
  border-top: 1px solid #eee;
}
#autoComplete_list:empty{
  display: none;
}
.no_result,
.autoComplete_result {
  padding: 0.6rem;
  border-bottom: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  border-left: 2px solid rgba(255, 122, 122, 0);
  border-right: 2px solid rgba(255, 122, 122, 0);
  border-bottom: 0px;
}

.autoComplete_result::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}

.autoComplete_result:last-child {
  /* border-radius: 0 0 1rem 1rem; */
}

.autoComplete_result:hover {
  cursor: pointer;
  background-color: rgba(255, 248, 248, 0.9);
  border-left: 2px solid rgba(255, 122, 122, 1);
  border-right: 2px solid rgba(255, 122, 122, 1);
}

.autoComplete_result:focus {
  outline: none;
  background-color: rgba(255, 248, 248, 0.9);
  border-left: 2px solid rgba(255, 122, 122, 1);
  border-right: 2px solid rgba(255, 122, 122, 1);
}

.autoComplete_highlighted {
  opacity: 1;
  color: rgba(255, 122, 122, 1);
  font-weight: bold;
}

.autoComplete_highlighted::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}

.autoComplete_selected {
  cursor: pointer;
  background-color: rgba(255, 248, 248, 0.9);
  border-left: 2px solid rgba(255, 122, 122, 1);
  border-right: 2px solid rgba(255, 122, 122, 1);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

@media only screen and (max-width: 600px) {
  #autoComplete {
    width: 5rem;
  }

  #autoComplete:focus {
    width: 11rem;
    background-size: 1.6rem;
    background-position: left 1.1rem top 0.75rem;
  }

  .autoComplete_result:first-child {
    border-radius: 1rem 1rem 0 0;
  }

  .autoComplete_result:last-child {
    border-radius: 0 0 1rem 1rem;
  }

  .autoComplete_result:only-child {
    border-radius: 1rem;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #autoComplete {
    border-width: 1px;
  }

  #autoComplete:hover {
    border-width: 1px;
  }

  #autoComplete:focus {
    border-width: 1px;
  }
}

@-moz-document url-prefix() {
  #autoComplete {
    border-width: 1px;
    background-size: 1.2rem;
    background-origin: border-box;
    background-position: center;
  }

  #autoComplete:hover {
    border-width: 1px;
  }

  #autoComplete:focus {
    border-width: 1px;
    background-position: left 1.1rem top 0.8rem;
  }
}
