.menu-item-has-children {
    position: relative;
}
.standar-dropdown.sub-menu{
    position: absolute;
    left: 0%;
    top: 100%;
    z-index:22;
    display: none;
}

.menu-item-has-children:hover .standar-dropdown.sub-menu{
    display: block;
}

.swiper-wrapper-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.swiper-wrapper-row .VerticalBookCard__tinyBook{
    margin: 0 5px;
}

.VerticalBookCard__rating i{
    font-size: 10px;
}

.VerticalBookCard__tinyBook:last-child{
    margin-right: 0;
}

.appContainer{
    height: auto;
}

.swiper-wrapper{
    flex-wrap: wrap;
}

.VerticalBookCard__bookInfo{
    height: auto;
    min-height: 96px;
    overflow: hidden;
}

.swiper-slide{
    flex:1 1 1%;
}

#autoComplete_list{
    /* pointer-events: none; */
}

/* .autoComplete_result{
    padding: 0px;
}

.autoComplete_result a{
    padding: .6rem;
    display: block;
} */

.Header__menuWrapper{
    flex-wrap: wrap;
}

.Header__search{
    order: unset;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Header__menu{
    position: static;
    height: auto;
}
.SearchLine__search{
    width: auto;
}

.Form__form-btn{
    display: flex;
    flex-wrap: wrap;
}

.Form__form-btn li{
    margin-right: 10px;
    margin-bottom: 10px;
}

.star-rating {
    border: 0;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em;
    text-align: center;
    width: 5em;
    justify-content: flex-end;
}
.disabled-form{
    position: relative;
    display: inline-block;
}
.star-rating input {
    display: none;
}
.star-rating label {
    color: rgb(128, 128, 128);
    cursor: pointer;
}


.Rating__ratingStar .star-rating label {
    font-size: 25px;
}

.star-rating :checked ~ label {
    color: rgb(255, 212, 59);
    webkit-animation: wobble 0.8s ease-out;
    animation: wobble 0.8s ease-out;
}
.star-rating :hover ~ label {
    color: rgb(250, 176, 5);
}

.BookPageHeaderContent__bookUserRating{
    position: static;
}